/*Main css file for Thesis*/

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}